body{
        color: #444444;
        background-color: antiquewhite;
        font-family: Helvetica, sans-serif;
        font-size: 20px;
}

a{
   color: #444444;
}
a:hover{
    color: purple;
    font-size: 110%;
}