body{
        color: white;
        background-color: #444444;
        font-family: Helvetica, sans-serif;
        font-size: 20px;
}
a{
   color: white;
}
a:hover{
    color: purple;
    /*background-color: cadetblue;*/
    font-size: 110%;
}